
*{
	margin:0px;
	padding: 0px;
}


	body {
	width: 100%;
	background-color:transparent;
	/*background-repeat: no-repeat;*/
	font-family: sans-serif;
	background-color: #272727
}
.row{
	margin-bottom: 20px;
	margin-top: 20px;
}
nav{margin-top: 20px;}
	
}
.row1{
display: flex;
padding-right: 15px;
background-color:#000;
margin-top: -18px;

}

.right{
	float: right;
}

a:link    { text-decoration: none;  color: #00f; }
a:visited { text-decoration: none;  color: white; }
a:hover   { text-decoration: none;  color: #c00; font-weight: bold;font-style: sans-serif;}
a:active  { text-decoration: none;
 }

h1 { margin:0;  font-weight: bold;  font-size: 2em; 
}


footer{
	background-color:#000;
	color: white;
	padding: 40px;
	bottom: 0;
	margin-bottom: 15px;
	border-radius: 5px;
}

.background{
	background-image: url("../image/p2.jpg");
	text-align:center;
	background-size:100%;
	margin-top: 30px;
	height: 300px;
	margin-bottom: 50px;
	background-repeat: no-repeat;
	border-radius: 25px;
	
}

article{
	font-style: italic;
	color:  seagreen;
	padding-top: 10px;


}
.backcolor{
	background-color: black;
}
.nintendback{
	background-color: yellow;
	margin-top: -25px;
}
.collectionback{
	background-color: seagreen;
	margin-top: -20px;
}
.collectionbackground{
	background-image: url("../image/h3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.opt-inbackground{
	background-color: transparent;
	background-image: url("../image/p5.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
.optInArticle{
	color:white;
}
.about-inbackimg{
	background-image: url("../image/h1.jpg");
	background-repeat: no-repeat;
	background-size:100%;

}
.imagewidth{
	width: 100%;
	height: 100%;
}

.aboutUsArticle{
	color:black;
	padding: 10px;
}

.aboutUs-back{
	background-color:darkgrey;
}

.aboutUsFooter{
	margin-top: 200px;
	background-color:#000;
	height: 100px;
	color: white;
	padding-top: 15px;
	bottom: 0;
	margin-bottom: 15px;
	border-radius: 0px;
}

}
.aboutUsArticle{
	color: green;
	padding-top:100px;
	font-family:'Aldrich',
}
.aboutUsArticleBody{
	background-image: url("../image/p3.jpg");
	background-size:100%;
	margin-top: 200px;
	height: 300px;
}
.moviesCollectionFooter{
	background-color:#000;
	height: 100px;
	color: white;
	margin-top:35px;
	bottom: 0;
	padding-top:25px;
	padding-right: 15px;}


button,.text {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
    border-radius: 10px;
}

.text {
    padding: 10px;
    display: none;
}
.box{

	position: absolute;
	top:60%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: rgba(0,0,0,.8);
	padding: 40px;
	box-sizing: border-box;
	box-shadow: 0 15px 25 rgba(0,0,0,.5)
	border-radius:10px;

}
.box,h3{
	margin: 0 0 30px;
	color: turquoise;
	text-transform: uppercase;


}
.box .formInput input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
}
.box form{
	display: none;
}